

.parent {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 250px;
    gap: 6px;
   
    
}
    
.div1
 {
    background-color: rgb(243, 167, 237);
    text-align: center;
    border: 3px solid rgb(202, 50, 248);
    border-radius: 5px; 
}

.div2 
{
    background-color: rgb(243, 167, 237);
    text-align: center;
    border: 3px solid rgb(202, 50, 248);
    border-radius: 5px;
}

.div3 
{
     background-color: rgb(243, 167, 248);
    text-align: center;
    border: 3px solid rgb(202, 50, 248);
    border-radius: 5px;
}

.parent1 {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 200px;
    gap: 6px;
   
}
.div2 
{
    background-color: rgb(243, 167, 237);
    text-align: center;
    border: 3px solid rgb(202, 50, 248);
    border-radius: 5px;
}

.div3 
{
     background-color: rgb(243, 167, 248);
    text-align: center;
    border: 3px solid rgb(202, 50, 248);
    border-radius: 5px;
}
img
{
    width: 50%;
    height: 244px;
}

body
{
    background-color: rgb(235, 109, 247);
}
h1
{
    background-color: rgb(168, 42, 199);
    font-family:  Georgia;
    text-align: center;
}
h2
{
background-color: rgb(192, 82, 192);
    text-align: center;
    font-family: monospace;
    color: blanchedalmond;
}
video
{
    margin-top: 5px;
    width: 80%;
    height:300px ;
    
   
}
p
{
    
    text-align: center;
    margin: 0;
    font-family: cursive;
    font-size: 25px;
}
footer
{
    background-color: rgb(215, 82, 242);
   font-family: Impact;
    text-align: center;
   
  
}    
